<div class="content-wrapper">
    <div id="header">
        <div class="left-part logo-placehodler"><a href="/">
            <div class="logo"></div>
        </a></div>
        <div class="right  right-part ">
            <div id="motto">Start your day with a flower</div>
            <div id="user-info">Hello, Darian</div>
        </div>
    </div>
    <div id="body">
        <div class="menu left-part ">
            <div class="button blue "><div>Flower</div></div>
            <div class="button red"><div>Placeholder</div></div>
            <div class="button yellow"><div>Enviroment</div></div>
        </div>
        <div class="content-placeholder blue right-part"></div>
    </div>
</div>


