<div id="flowers" style="font-size: 30px; padding: 10px; width: 100%; float: left; position: relative">
    <div class="flower_placeholder">
        <div class="flower_name">Flower Power</div>
        <div class="flower_logo">
            <img src="/Images/nice-flowers.jpg" />
        </div>
    </div>
</div>
<div id="placeholders" style="font-size: 30px; padding: 10px; width: 100%; float: left; position: relative">Placeholders</div>
<div id="enviroment" style="font-size: 30px; padding: 10px; width: 100%; float: left; position: relative">Enviroment</div>
<div id="gardens" style="font-size: 30px; padding: 10px; width: 100%; float: left; position: relative">Gardens</div>
<div id="trees" style="font-size: 30px; padding: 10px; width: 100%; float: left; position: relative">Trees</div>
<div id="details" style="font-size: 30px; padding: 10px; width: 100%; float: left; position: relative">Details</div>


